@import './utils/fonts';
@import './utils/constants';

@import './pages/home';
@import './pages/store';

@import './components/header';

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/gotham_normal.otf") format('otf');
}
  

body{
    font-family:Gotham!important;
}