

.header{
    display: flex!important;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px){
        display: block!important;
    }

    .col-full{
        margin-left: inherit!important;

        @media (max-width: 768px){
            margin-left: 1.41575em!important;
        }
    }

    .storefront-primary-navigation{
        width: 100%;

        @media (max-width: 768px){
            width: auto;
        }
    }

    .main-navigation{
        .primary-navigation{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @media (max-width: 768px){
                display: none;
            }
        }
        
    }
}

.header__logo{
    max-width: 200px;
    width: 100%;
    height: auto;

    @media (max-width: 768px){
        margin-top: 10px;
        float:left;
    }
}