/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/styles.scss ***!
  \***************************************************************************************************************/
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Gotham"), url(assets/6e6e3597b49279a9d0fd.otf) format("otf"); }

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url(assets/1e16ccf6b771b9d4a7cc.ttf) format("ttf"); }

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url(assets/db3dfb867fbdbfa958b4.otf) format("otf"); }

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .slider-container .slider {
    display: flex;
    width: 300%;
    transition: transform 0.3s ease-in-out; }
    .slider-container .slider .slider__image {
      width: 33.33%;
      height: 95vh;
      object-fit: cover; }
    .slider-container .slider .slider__image--2 {
      object-position: 50% 4%; }
  .slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    transition: background 0.5s ease-in-out; }
    .slider-container button.prev {
      left: 10px; }
    .slider-container button.next {
      right: 10px; }
    .slider-container button .slider__arrow {
      width: 30px;
      height: 30px;
      line-height: 50px;
      cursor: pointer; }
    .slider-container button .slider__arrow--right {
      transform: rotate(180deg); }
    .slider-container button:hover {
      transition: background 0.5s ease-in-out;
      background: rgba(255, 255, 255, 0.1); }
    .slider-container button:active {
      transition: background 0.5s ease-in-out;
      background: rgba(255, 255, 255, 0.5); }

.top-products {
  padding-top: 2em !important; }
  .top-products .top-products__title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em; }

.woocommerce-products-header {
  padding: 0 0 1.5em !important; }

.storefront-breadcrumb {
  margin: 0 !important; }

.header {
  font-family: Gotham;
  padding-top: 0.5rem !important;
  margin-bottom: 0 !important; }
  @media (max-width: 768px) {
    .header {
      padding-top: 2rem !important; } }
  .header .header-container {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media (max-width: 768px) {
      .header .header-container {
        display: block; } }
  .header .main-navigation {
    padding-left: 2rem !important;
    font-weight: 800; }
  .header .menu-item > a {
    padding: 0.5rem 1rem !important; }
  .header .cart-contents {
    padding: 1em 0 !important; }

.header__logo {
  max-width: 200px;
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .header__logo {
      margin-top: 10px;
      float: left; } }

body {
  font-family: 'Gotham'; }

